<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Monster Slayer</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
            rel="stylesheet"
        />
        <script src="https://unpkg.com/vue@next" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <div id="app">
            <div class="game-title">
                <h1>Monster slayer</h1>
            </div>

            <div class="player-info-panel">
                <h3>Your health:</h3>
                <div class="health-container">
                    <div class="healthbar" :style="playerCurrentHealthStyle">
                    </div>
                </div>
            </div>
            <div class="monster-info-panel">
                <h3>Monster health:</h3>
                <div class="health-container">
                    <div class="healthbar" :style="monsterCurrentHealthStyle">
                    </div>
                </div>
            </div>

            <div class="medkit-info-panel">
                <h3>Medkits: {{ medkitAmount }}</h3>
            </div>

            <div v-if="!gameOver" class="action-panel">
                <button @click="attack('You')" class="btn-action">
                    attack
                </button>
                <button @click="specialAttack" class="btn-action">
                    special
                </button>
                <button @click="heal" class="btn-action">heal</button>
                <button @click="surrender" class="btn-action">surrender</button>
            </div>

            <div v-else class="result-panel">
                <h3>{{ winner }} Won</h3>
                <button @click="resetGame">Retry</button>
            </div>

            <div class="battle-log">
                <h3>The Story So Far...</h3>
                <div ref="logContainer" class="log-container">
                    <ul>
                        <li
                            class="log-item"
                            v-for="log in battleLog"
                            :key="log.id"
                        >
                            {{ log }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
